.portfolio {
  position: relative;
  background-color: rgb(250, 250, 250);

  &-wrapper {
    width: 100%;
    height: 100vh;
  }

  &-content {
    width: 100%;
    height: 100%;
    padding: 25% 0;

    @media screen and (min-width: $md-breakpoint) {
      padding: 15% 0;
    }

    @media screen and (min-width: $lg-breakpoint) {
      padding: 13% 0;
    }
  }
}

.page-tab-wrapper {
  @include flexbox;
  flex-direction: column;

  .tab-list {
    @include flexbox(between);
    width: 100%;

    .tab-item {
      width: 100%;
    }
  }

  .tab-page-content {
    @include pos-center;
  }
}
