.title {
  &-wrapper {
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url('./../../assets/img/title.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-content {
    @include pos-center-x;
    top: 12%;

    .main-text {
      @include text-style(24, $primary);
      @include flexbox;
      font-weight: 700;

      &-top {
        margin-bottom: 6px;
      }
    }
  }
}
