@mixin pos-center-x($type: absolute) {
  @if ($type == absolute or $type == fixed) {
    left: 50%;
    position: $type;
    transform: translate(-50%, 0);
  }
}

@mixin pos-center-y($type: absolute) {
  @if ($type == absolute or $type == fixed) {
    position: $type;
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin pos-center($type: absolute) {
  @include pos-center-x;
  @include pos-center-y;
  transform: translate(-50%, -50%);
}
